<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizzeria</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>

<header class="BigHeader">
    <div class="header">
        <div class="welcome">
            <p id="welcome">Welcome to Oma's Pizzeria</p>
        </div>
        <div class="icons">
            <a href="#"><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
        </div>
    </div>
</header>
<main class="BigContent">
    <div class="content">
        <nav class="menu">
            <div id="menucaption"><p>Menu</p></div>
            <a href="#">
                <div class="menuitem"><p>About</p></div>
            </a>
            <a href="#">
                <div class="menuitem"><p>Order Now</p></div>
            </a>
            <a th:href="@{/admin}">
                <div class="menuitem"><p>Admin</p></div>
            </a>
        </nav>
        <div  class="products">
            <div th:each="element : ${map}" class="pizza_products">
                <div id="pizza_products_caption">
                    <p th:text="${element.key.name}"></p>
                    <div >
                        <a th:each="pizza : ${element.value}" href="#" class="product">
                            <img class="foto" th:src="@{'/image/' + ${pizza.image}}"  alt="foto1">
                            <div class="product_name">
                                <span th:text="${pizza.name}"/>
                            </div>
                            <div class="product_price">
                                &euro; <span th:text="${pizza.price}"/><br>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="instagram">
            <p>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                Instagram feed: #oma'sPizza
            </p>
        </div>
        <div id="stride"></div>
        <div id="facebook">
            <a href="#">
                <div id="f">
                    <i class="fa fa-facebook fa-5x" aria-hidden="true"></i>
                </div>
            </a>
            <a href="#">
                <div id="t">
                    <i class="fa fa-twitter fa-5x" aria-hidden="true"></i>
                </div>
            </a>
            <a href="#">
                <div id="p">
                    <i class="fa fa-pinterest-p fa-5x" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
</main>
<footer class="BigFooter">
    <div class="Footer">
        <nav id="category">
            <p class="label">Category</p>
            <ul class="list">
                <li><a href="#">Home</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">eshop</a></li>
                <li><a href="#">blog</a></li>
            </ul>
        </nav>
        <nav id="accounts">
            <p class="label">Our Accounts</p>
            <ul class="list">
                <li><a href="#">Your account</a></li>
                <li><a href="#">Personal inforation</a></li>
                <li><a href="#">Addresses</a></li>
                <li><a href="#">Orders history</a></li>
            </ul>
        </nav>
        <nav id="support">
            <p class="label">Our Support</p>
            <ul class="list">
                <li><a href="#">Site map</a></li>
                <li><a href="#">Mobile</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Addresses</a></li>
            </ul>
        </nav>
        <div id="news">
            <p class="label">Newsletter</p>
            <p>
                <input type="email" placeholder="INSERT EMAIL">
                <input type="submit" value="SUBMIT">
            </p>
            <div id="cards">
                <img src="images/master.png" alt="Master Card">
                <img src="images/paypal.png" alt="PayPal">
                <img src="images/visa.png" alt="Visa">
            </div>
        </div>
        <div id="about">
            <p class="label">About Us</p>
            <p class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Cum dolorum ducimus error ex facilis, impedit
                in inventore iure nemo repellat rerum sunt ullam unde.
            </p>
            <div>
                Phone: 1-999-342-9876
                <br>
                e-mail: <span>info@omaspizza.com</span>
            </div>
        </div>
    </div>
    <div class="SubFooter">
        <div class="ContentSubFooter">
            <div id="copy">
                &copy; OMASPIZZA. All rights reserved - Designed by ABC.com
            </div>
            <div id="social">
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>